[package]
authors     = [ "devs @ t3rn" ]
description = "Circuit parachain runtime"
edition     = "2018"
homepage    = "https://t3rn.io"
license     = "Apache-2.0"
name        = "circuit-mock-runtime"
repository  = 'https://github.com/t3rn/t3rn'
version     = "1.0.0-alpha.0"

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.27" }

[dependencies]
codec       = { package = "parity-scale-codec", version = "3", features = [ "derive" ] }
hex-literal = { version = "0.4" }
log         = { version = "0.4" }
scale-info  = { version = "2.7.0", default-features = false, features = [ "derive" ] }
serde       = { version = "1.0", optional = true, features = [ "derive" ] }

t3rn-primitives = { path = "../../primitives" }
t3rn-types   = { path = "../../types" }
t3rn-abi   = { path = "../../types/abi" }

circuit-runtime-pallets = { path = "../common-pallets" }
circuit-runtime-types   = { path = "../common-types" }

# Substrate Dependencies
frame-executive              = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
frame-support                = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
frame-system                 = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
frame-system-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
node-primitives              = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }

sp-api              = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-block-builder    = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-consensus-aura   = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-core             = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-finality-grandpa = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-inherents        = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-offchain         = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-runtime          = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-session          = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-std              = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-trie             = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-version          = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }

pallet-treasury     = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.27" }

# Mock only
sp-io = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
