[package]
authors = [ "Parity Technologies <admin@parity.io>" ]
edition = "2018"
license = "GPL-3.0-or-later WITH Classpath-exception-2.0"
name    = "relay-substrate-client"
version = "0.1.0"

[dependencies]
async-std             = { version = "1.6.5", features = [ "attributes" ] }
async-trait           = "0.1.40"
codec                 = { package = "parity-scale-codec", version = "3" }
jsonrpsee-proc-macros = "0.2.0"
jsonrpsee-ws-client   = "0.2.0"
log                   = "0.4.11"
num-traits            = "0.2"
rand                  = "0.7"

# Bridge dependencies

finality-relay  = { path = "../../primitives/src/bridges/finality" }
headers-relay   = { path = "../../primitives/src/bridges/headers" }
relay-utils     = { path = "../../primitives/src/bridges/utils" }
t3rn-primitives = { path = "../../primitives" }
tokio           = "1.8"

# Substrate Dependencies

frame-support       = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.36' }
frame-system        = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.36' }
pallet-balances     = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.36' }
sc-rpc-api          = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.36' }
sp-core             = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.36' }
sp-finality-grandpa = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.36' }
sp-runtime          = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.36' }
sp-std              = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.36' }
sp-storage          = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.36' }
sp-trie             = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.36' }
sp-version          = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.36' }

#[dev-dependencies]
futures = "0.3.7"
