# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
config:
  circuitWsEndpoint: wss://rpc.t0rn.io
  interval: 12s
  logLevel: debug
  prometheus:
    port: 9133

# Side Effects Configuration
sideEffects:
  - target: roco
    asset: 0
    maxReward: 1
    insurance: 1
    targetAccount: 5F3vTGGG56DetArfvmtZseV6fEZeCQpdYgijzzsQdBqdxmen
    amount: 0.01
    enforceExecutor: null
    rewardAsset: null # defaults to TRN
    count: 10
    txType: single
  # - target: pdot
  #   maxReward: 1
  #   insurance: 1
  #   action: transfer
  #   transferArgs:
  #     to: 5F3vTGGG56DetArfvmtZseV6fEZeCQpdYgijzzsQdBqdxmen
  #     amount: 1
  #   enforceExecutor: null
  #   rewardAssetId: null # defaults to TRN
  #   count: 1
  # - target: kusm
  #   maxReward: 1
  #   insurance: 1
  #   action: transfer
  #   transferArgs:
  #     to: 5F3vTGGG56DetArfvmtZseV6fEZeCQpdYgijzzsQdBqdxmen
  #     amount: 0.01
  #   enforceExecutor: null
  #   rewardAssetId: null # defaults to TRN
  #   count: 1
  # - target: sepl
  #   maxReward: 1
  #   insurance: 1
  #   action: transfer
  #   transferArgs:
  #     to: 0xF85A57d965aEcD289c625Cae6161d0Ab5141bC66
  #     amount: 0.01
  #   enforceExecutor: null
  #   rewardAssetId: null # defaults to TRN
  #   count: 1

securityContext:
  capabilities:
    drop:
    - ALL
  # Node requires writing :|
  # readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
  fsGroup: 1000

resources:
  limits:
    cpu: 1000m
    memory: 1024Mi
  requests:
    cpu: 10m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
