[package]
authors     = [ "Parity Technologies <admin@parity.io>", "devs @ t3rn" ]
description = "Primitive EVM abstractions for Substrate."
edition     = { workspace = true }
homepage    = { workspace = true }
license     = { workspace = true }
name        = "fp-evm"
repository  = { workspace = true }
version     = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
evm = { workspace = true, features = ["with-codec"] }
scale-codec = { package = "parity-scale-codec", workspace = true }
scale-info = { workspace = true }
serde = { workspace = true, optional = true }
# Substrate
frame-support = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

# t3rn
circuit-runtime-types = { path = "../../../runtime/common-types", default-features = false }

[features]
default = ["std"]
std = [
	"evm/std",
	"evm/with-serde",
	"serde/std",
	"scale-codec/std",
	"scale-info/std",
	# Substrate
	"frame-support/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-std/std",
	# t3rn
	"circuit-runtime-types/std",
]
serde = [
	"dep:serde",
	"evm/with-serde",
	"scale-info/serde",
	"sp-core/serde",
	"sp-runtime/serde",
]
