[submodule "vendor/frontier"]
	path = vendor/frontier
	url = https://github.com/t3rn/frontier
[submodule "build/snowbridge"]
	path = build/snowbridge
	url = https://github.com/t3rn/snowbridge.git
[submodule "protocol"]
	path = protocol
	url = https://github.com/t3rn/protocol
