# build
**/target
bin
*/Cargo.lock
**/.nyc_output
results.sarif
client/**/dist/*
**/yarn-error.log

# mac
**/.DS_Store


# docs
docs/executor
docs/ts-sdk
docs/attester

# local
.direnv
.envrc
**/node_modules
**/parachains-integration-tests
.idea
*.iml
*.txt

vendor