[submodule "sdk/subxt"]
	path = sdk/subxt
	url = https://github.com/MaciejBaj/substrate-subxt
[submodule "sdk/compiler"]
	path = sdk/compiler
	url = https://github.com/MaciejBaj/cargo-contract
[submodule "vendor/bridges"]
	path = vendor/bridges
	url = https://github.com/MaciejBaj/parity-bridges-common
[submodule "vendor/frontier"]
	path = vendor/frontier
	url = https://github.com/MaciejBaj/frontier
