[submodule "vendor/frontier"]
	path = vendor/frontier
	url = https://github.com/t3rn/frontier
[submodule "protocol"]
	path = protocol
	url = https://github.com/t3rn/protocol
[submodule "3vm"]
	path = 3vm
	url = https://github.com/t3rn/3vm.git
[submodule "pallets/xbi-portal"]
	path = pallets/xbi-portal
	branch = sfx_and_scabi
	url = https://github.com/t3rn/xbi.git