[profile.release]
debug       = 0 # Set this to 1 or 2 to get more useful backtraces in debugger.
incremental = true
panic       = 'unwind'

[profile.dev]
# Disabling debug info speeds up builds a bunch,
# and we don't rely on it for debugging that much.
debug = 0

[profile.dev.package]
# These speed up local tests.
kusama-runtime.opt-level     = 3
librocksdb-sys.opt-level     = 3
polkadot-runtime.opt-level   = 3
rococo-runtime.opt-level     = 3
rustc-hash.opt-level         = 3
tikv-jemalloc-sys.opt-level  = 3
wasmtime-cranelift.opt-level = 3
wasmtime.opt-level           = 3

[workspace]
exclude = [  ]
members = [
  'node/standalone',
  'node/t0rn-parachain',
  'node/t3rn-parachain',
  'pallets/*',
  'pallets/*/rpc',
  'pallets/*/precompile/*',
  'pallets/*/rpc/runtime-api',
  'primitives',
  'primitives/src/bridges/finality',
  'primitives/src/bridges/headers',
  'primitives/src/bridges/utils',
  'primitives/src/bridges/snowfork/*',
  'runtime/*',
  'types',
  'types/abi',
  'finality-verifiers/grandpa',
  'finality-verifiers/common',
]

[patch."https://github.com/t3rn/t3rn"]
fp-evm                      = { path = "./pallets/evm/primitives" }
pallet-contracts-primitives = { path = "./pallets/contracts/primitives" }
t3rn-primitives             = { path = "./primitives" }
