* @MaciejBaj

/.github/ @t3rn/dev


/pallets/account-manager @AwesomeIbex
/pallets/circuit-portal @petscheit

/devnet @chiefbiiko
/specs @chiefbiiko
/scripts @chiefbiiko
/types @AwesomeIbex

/3vm @AwesomeIbex
/vm @AwesomeIbex

/docs @petscheit
