[package]
authors     = { workspace = true }
description = "x-chain DNS"
edition     = { workspace = true }
homepage    = { workspace = true }
license     = { workspace = true }
name        = "pallet-xdns"
readme      = { workspace = true }
repository  = { workspace = true }
version     = { workspace = true }

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[dependencies]
codec      = { workspace = true, package = "parity-scale-codec" }
log        = { workspace = true }
scale-info = { workspace = true }
serde      = { workspace = true, optional = true }

frame-benchmarking = { workspace = true, optional = true }
frame-metadata     = { workspace = true }
frame-support      = { workspace = true }
frame-system       = { workspace = true }

sp-io      = { workspace = true }
sp-core    = { workspace = true }
sp-runtime = { workspace = true }
sp-std     = { workspace = true }
sp-version = { workspace = true }

xcm        = { workspace = true }

pallet-timestamp = { workspace = true }
t3rn-abi         = { default-features = false, path = "../../types/abi", features = [ "runtime" ] }
t3rn-primitives  = { default-features = false, path = "../../primitives" }
t3rn-types       = { default-features = false, path = "../../types", features = [ "runtime" ] }

circuit-runtime-types = { default-features = false, path = "../../runtime/common-types" }

[dev-dependencies]
circuit-mock-runtime    = { path = "../../runtime/mock" }
circuit-runtime-pallets = { path = "../../runtime/common-pallets" }
circuit-runtime-types   = { path = "../../runtime/common-types" }
pallet-balances         = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v1.0.0' }
pallet-sudo             = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v1.0.0' }
sp-core                 = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v1.0.0' }
sp-keystore             = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v1.0.0' }
hex-literal             = { workspace = true }

[features]
default = [ "std" ]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
std = [
  "codec/std",
  "frame-support/std",
  "frame-metadata/std",
  "frame-system/std",
  "log/std",
  "pallet-timestamp/std",
  "scale-info/std",
  "serde/std",
  "sp-io/std",
  "sp-version/std",
  "sp-runtime/std",
  "sp-core/std",
  "sp-std/std",
  "t3rn-primitives/std",
  "t3rn-types/std",
  "t3rn-abi/std",
  "circuit-runtime-types/std",
  "xcm/std",
]
try-runtime = [ "frame-support/try-runtime", "frame-system/try-runtime", "pallet-timestamp/try-runtime", "t3rn-abi/try-runtime", "sp-runtime/try-runtime"  ]

