[package]
authors     = [ "t3rn ltd. <team@t3rn.io>" ]
description = "x-chain DNS"
edition     = "2018"
homepage    = "https://t3rn.io"
license     = "Apache-2.0"
name        = "pallet-xdns"
readme      = "README.md"
repository  = "https://github.com/t3rn/t3rn/"
version     = "1.0.0-alpha.0"

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[dependencies]
codec      = { package = "parity-scale-codec", version = "3", default-features = false }
log        = { version = "0.4.19", default-features = false }
scale-info = { version = "2.8.0", default-features = false, features = [ "derive" ] }
serde      = { version = "1.0", default-features = false, optional = true }

frame-benchmarking = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27', optional = true }
frame-metadata     = { version = "15", features = [ "v13", "v14" ], default-features = false }
frame-support      = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
frame-system       = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }

sp-io      = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-std     = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-version = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }

pallet-timestamp = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
t3rn-abi         = { default-features = false, path = "../../types/abi", features = [ "runtime" ] }
t3rn-primitives  = { default-features = false, path = "../../primitives" }
t3rn-types       = { default-features = false, path = "../../types", features = [ "runtime" ] }

circuit-runtime-types = { default-features = false, path = "../../runtime/common-types" }

[dev-dependencies]
circuit-mock-runtime    = { path = "../../runtime/mock" }
circuit-runtime-pallets = { path = "../../runtime/common-pallets" }
circuit-runtime-types   = { path = "../../runtime/common-types" }
pallet-balances         = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
pallet-sudo             = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-core                 = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-keystore             = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }

[features]
default = [ "std" ]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
std = [
  "codec/std",
  "frame-support/std",
  "frame-metadata/std",
  "frame-system/std",
  "log/std",
  "pallet-timestamp/std",
  "scale-info/std",
  "serde/std",
  "sp-io/std",
  "sp-version/std",
  "sp-runtime/std",
  "sp-std/std",
  "t3rn-primitives/std",
  "t3rn-types/std",
  "t3rn-abi/std",
  "circuit-runtime-types/std",
]
try-runtime = [ "frame-support/try-runtime", "frame-system/try-runtime", "pallet-timestamp/try-runtime", "t3rn-abi/try-runtime" ]
