[package]
authors     = [ "devs @ t3rn" ]
description = "Circuit parachain runtime"
edition     = "2021"
homepage    = "https://t3rn.io"
license     = "Apache-2.0"
name        = "circuit-parachain-runtime"
repository  = 'https://github.com/t3rn/t3rn'
version     = "1.0.0-alpha.0"

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.19" }

[dependencies]
codec       = { package = "parity-scale-codec", version = "3", default-features = false, features = [ "derive" ] }
hex-literal = { version = "0.3.4", optional = true }
log         = { version = "0.4.14", default-features = false }
scale-info  = { version = "2", default-features = false, features = [ "derive" ] }
serde       = { version = "1.0", default-features = false, optional = true, features = [ "derive" ] }
smallvec    = { version = "1.6.1", default-features = false }

# Substrate
frame-benchmarking                         = { git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.19" }
frame-executive                            = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
frame-support                              = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
frame-system                               = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
frame-system-benchmarking                  = { git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.19" }
frame-system-rpc-runtime-api               = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
frame-try-runtime                          = { git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.19" }
pallet-aura                                = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
pallet-authorship                          = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
pallet-balances                            = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
pallet-preimage                            = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
pallet-randomness-collective-flip          = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
pallet-scheduler                           = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
pallet-session                             = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
pallet-sudo                                = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
pallet-timestamp                           = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
pallet-transaction-payment                 = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
pallet-utility                             = { git = "https://github.com/paritytech/substrate", default-features = false, branch = 'polkadot-v0.9.19' }
sp-api                                     = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
sp-block-builder                           = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
sp-consensus-aura                          = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
sp-core                                    = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
sp-inherents                               = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
sp-io                                      = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
sp-offchain                                = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
sp-runtime                                 = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
sp-session                                 = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
sp-std                                     = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
sp-transaction-pool                        = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }
sp-version                                 = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.19" }

# Polkadot
pallet-xcm                 = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.19" }
polkadot-parachain         = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.19" }
polkadot-runtime-common    = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.19" }
polkadot-runtime-constants = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.19" }
xcm                        = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.19" }
xcm-builder                = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.19" }
xcm-executor               = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.19" }

# Cumulus
cumulus-pallet-aura-ext             = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.19', default-features = false }
cumulus-pallet-dmp-queue            = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.19', default-features = false }
cumulus-pallet-parachain-system     = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.19', default-features = false }
cumulus-pallet-session-benchmarking = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.19', default-features = false, version = "3.0.0" }
cumulus-pallet-xcm                  = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.19', default-features = false }
cumulus-pallet-xcmp-queue           = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.19', default-features = false }
cumulus-primitives-core             = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.19', default-features = false }
cumulus-primitives-timestamp        = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.19', default-features = false }
cumulus-primitives-utility          = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.19', default-features = false }
pallet-collator-selection           = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.19', default-features = false }
parachain-info                      = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.19', default-features = false }

# ORML
orml-tokens = { git = "https://github.com/t3rn/open-runtime-module-library", branch = "polkadot-v0.9.19", default-features = false }
orml-traits = { git = "https://github.com/t3rn/open-runtime-module-library", branch = "polkadot-v0.9.19", default-features = false }

# t3rn Deps
pallet-treasury                   = { default-features = false, path = "../../pallets/treasury" }
t3rn-primitives                   = { default-features = false, path = "../../primitives" }
t3rn-protocol                     = { default-features = false, path = "../../protocol" }

# t3rn pallets
pallet-account-manager                = { path = "../../pallets/account-manager", default-features = false }
pallet-circuit                        = { path = "../../pallets/circuit", package = "pallet-circuit", default-features = false }
pallet-circuit-portal                 = { path = "../../pallets/circuit-portal", package = "pallet-circuit-portal", default-features = false }
pallet-circuit-portal-rpc-runtime-api = { path = "../../pallets/circuit-portal/rpc/runtime-api", default-features = false }
pallet-contracts-registry             = { path = "../../pallets/contracts-registry", default-features = false }
pallet-mfv                            = { path = "../../pallets/multi-finality-verifier", package = "pallet-multi-finality-verifier", default-features = false }
pallet-xdns                           = { path = "../../pallets/xdns", default-features = false }
pallet-xdns-rpc-runtime-api           = { path = "../../pallets/xdns/rpc/runtime-api", default-features = false }
pallet-staking                        = { path = "../../pallets/staking", default-features = false }
pallet-staking-rpc-runtime-api        = { path = "../../pallets/staking/rpc/runtime-api", default-features = false }

# Smart contracts VMs
pallet-3vm                           = { path = "../../3vm/pallets/3vm", default-features = false }
pallet-3vm-contracts                 = { path = "../../3vm/pallets/contracts", default-features = false, package = "pallet-contracts" }
pallet-3vm-contracts-primitives      = { path = "../../3vm/primitives/contracts", default-features = false, package = "pallet-contracts-primitives" }
pallet-3vm-contracts-rpc-runtime-api = { path = "../../3vm/rpc/contracts/runtime-api", default-features = false, package = "pallet-contracts-rpc-runtime-api" }

evm-precompile-util       = { path = "../../3vm/pallets/evm/precompile/util", default-features = false, package = "precompile-util" }
pallet-3vm-evm            = { path = "../../3vm/pallets/evm", default-features = false, package = "pallet-evm" }
pallet-3vm-evm-primitives = { path = "../../3vm/primitives/evm", default-features = false, package = "fp-evm" }
pallet-evm-rpc-runtime-api        = { path = "../../3vm/rpc/evm/runtime-api", default-features = false }

[features]
default = [ "std" ]
std = [
  "codec/std",
  "log/std",
  "scale-info/std",
  "serde/std",
  "cumulus-pallet-aura-ext/std",
  "cumulus-pallet-dmp-queue/std",
  "cumulus-pallet-parachain-system/std",
  "cumulus-pallet-xcm/std",
  "cumulus-pallet-xcmp-queue/std",
  "cumulus-primitives-core/std",
  "cumulus-primitives-timestamp/std",
  "cumulus-primitives-utility/std",
  "frame-executive/std",
  "frame-support/std",
  "frame-system-rpc-runtime-api/std",
  "frame-system/std",
  "pallet-aura/std",
  "pallet-authorship/std",
  "pallet-balances/std",
  "pallet-collator-selection/std",
  "pallet-3vm/std",
  "pallet-3vm-contracts/std",
  "pallet-3vm-contracts-primitives/std",
  "pallet-3vm-contracts-rpc-runtime-api/std",
  "pallet-3vm-evm/std",
  "pallet-3vm-evm-primitives/std",
  "pallet-evm-rpc-runtime-api/std",
  "evm-precompile-util/std",
  "pallet-account-manager/std",
  "pallet-preimage/std",
  'pallet-scheduler/std',
  "pallet-session/std",
  "pallet-sudo/std",
  "pallet-timestamp/std",
  "pallet-transaction-payment-rpc-runtime-api/std",
  "pallet-transaction-payment/std",
  "pallet-xcm/std",
  "parachain-info/std",
  "polkadot-parachain/std",
  "polkadot-runtime-common/std",
  "smallvec/write",
  "sp-api/std",
  "sp-block-builder/std",
  "sp-consensus-aura/std",
  "sp-core/std",
  "sp-inherents/std",
  "sp-io/std",
  "sp-offchain/std",
  "sp-runtime/std",
  "sp-session/std",
  "sp-std/std",
  "sp-transaction-pool/std",
  "sp-version/std",
  "xcm-builder/std",
  "xcm-executor/std",
  "xcm/std",
  # ORML
  "orml-tokens/std",
  "orml-traits/std",
  # t3rn deps
  "pallet-randomness-collective-flip/std",
  "t3rn-primitives/std",
  "t3rn-protocol/std",
  # t3rn pallets
  "pallet-xdns/std",
  "pallet-xdns-rpc-runtime-api/std",
  "pallet-staking-rpc-runtime-api/std",
  "pallet-staking/std",
  "pallet-circuit-portal-rpc-runtime-api/std",
  "pallet-mfv/std",
  "pallet-treasury/std",
  "pallet-contracts-registry/std",
  "pallet-circuit-portal/std",
  "pallet-circuit/std",
]

runtime-benchmarks = [
  "hex-literal",
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system-benchmarking",
  "frame-system/runtime-benchmarks",
  "pallet-account-manager/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "pallet-contracts-registry/runtime-benchmarks",
  "pallet-collator-selection/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
  "pallet-xcm/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "xcm-builder/runtime-benchmarks",
  "cumulus-pallet-session-benchmarking/runtime-benchmarks",
  "pallet-treasury/runtime-benchmarks",
]

try-runtime = [ "frame-executive/try-runtime", "frame-try-runtime" ]
