[package]
authors     = [ "devs @ t3rn" ]
description = "t0rn - t3rn's Test Parachain Runtime to Rococo"
edition     = "2021"
homepage    = "https://t3rn.io"
license     = "Apache-2.0"
name        = "t0rn-parachain-runtime"
repository  = 'https://github.com/t3rn/t3rn'
version     = "1.16.0-rc.0"

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.27" }

[dependencies]
codec                 = { package = "parity-scale-codec", version = "3", default-features = false, features = [ "derive" ] }
finality-grandpa      = { version = "0.16", default-features = false, features = [ "derive-codec" ] }
hex-literal           = { version = "0.3.4", optional = true }
impl-trait-for-tuples = "0.2.2"
log                   = { version = "0.4.14", default-features = false }
scale-info            = { version = "2.1.1", default-features = false, features = [ "derive" ] }
serde                 = { version = "1.0", default-features = false, optional = true, features = [ "derive" ] }
smallvec              = { version = "1.6.1", default-features = false }

# Substrate
frame-benchmarking           = { git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.27" }
frame-executive              = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
frame-support                = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
frame-system                 = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
frame-system-benchmarking    = { git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.27" }
frame-system-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
frame-try-runtime            = { git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.27" }

pallet-asset-tx-payment                    = { git = "https://github.com/paritytech/substrate", default-features = false, branch = 'polkadot-v0.9.27' }
pallet-assets                              = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-aura                                = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-authorship                          = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-balances                            = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-identity                            = { git = "https://github.com/paritytech/substrate", default-features = false, branch = 'polkadot-v0.9.27' }
pallet-membership                          = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-preimage                            = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-randomness-collective-flip          = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-scheduler                           = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-session                             = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-sudo                                = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-timestamp                           = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-transaction-payment                 = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-treasury                            = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
pallet-utility                             = { git = "https://github.com/paritytech/substrate", default-features = false, branch = 'polkadot-v0.9.27' }

sp-api              = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
sp-block-builder    = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
sp-consensus-aura   = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
sp-core             = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
sp-inherents        = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
sp-io               = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
sp-offchain         = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
sp-runtime          = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
sp-session          = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
sp-std              = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }
sp-version          = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.27" }

# Polkadot
pallet-xcm                 = { git = "https://github.com/paritytech/polkadot.git", default-features = false, branch = "release-v0.9.27" }
polkadot-parachain         = { git = "https://github.com/paritytech/polkadot.git", default-features = false, branch = "release-v0.9.27" }
polkadot-runtime-common    = { git = "https://github.com/paritytech/polkadot.git", default-features = false, branch = "release-v0.9.27" }
polkadot-runtime-constants = { git = "https://github.com/paritytech/polkadot.git", default-features = false, branch = "release-v0.9.27" }
xcm                        = { git = "https://github.com/paritytech/polkadot.git", default-features = false, branch = "release-v0.9.27" }
xcm-builder                = { git = "https://github.com/paritytech/polkadot.git", default-features = false, branch = "release-v0.9.27" }
xcm-executor               = { git = "https://github.com/paritytech/polkadot.git", default-features = false, branch = "release-v0.9.27" }

# Cumulus
cumulus-pallet-aura-ext             = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false }
cumulus-pallet-dmp-queue            = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false }
cumulus-pallet-parachain-system     = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false }
cumulus-pallet-session-benchmarking = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false, version = "3.0.0" }
cumulus-pallet-xcm                  = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false }
cumulus-pallet-xcmp-queue           = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false }
cumulus-primitives-core             = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false }
cumulus-primitives-timestamp        = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false }
cumulus-primitives-utility          = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false }
pallet-collator-selection           = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false }
parachain-info                      = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false }
parachains-common                   = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.27', default-features = false }

# t3rn Deps
t3rn-primitives = { default-features = false, path = "../../primitives" }
t3rn-types      = { default-features = false, path = "../../types", features = [ "runtime" ] }
t3rn-abi        = { default-features = false, path = "../../types/abi", features = [ "runtime" ] }

# t3rn pallets
pallet-account-manager           = { path = "../../pallets/account-manager", default-features = false }
pallet-circuit                   = { path = "../../pallets/circuit", package = "pallet-circuit", default-features = false }
pallet-clock                     = { path = "../../pallets/clock", default-features = false }
pallet-contracts-registry        = { path = "../../pallets/contracts-registry", default-features = false }
pallet-grandpa-finality-verifier = { path = "../../finality-verifiers/grandpa", default-features = false }
pallet-portal                    = { path = "../../pallets/portal", default-features = false }
pallet-portal-rpc-runtime-api    = { path = "../../pallets/portal/rpc/runtime-api", default-features = false }
pallet-xdns                      = { path = "../../pallets/xdns", default-features = false }
pallet-xdns-rpc-runtime-api      = { path = "../../pallets/xdns/rpc/runtime-api", default-features = false }

pallet-asset-registry = { git = "https://github.com/t3rn/xbi", version = "0.3.0", default-features = false }
pallet-xbi-portal     = { git = "https://github.com/t3rn/xbi", version = "0.3.0", default-features = false }

# Smart contracts VMs
evm-precompile-util                  = { default-features = false, path = "../../pallets/evm/precompile/util", package = "precompile-util" }
pallet-3vm                           = { default-features = false, path = "../../pallets/3vm" }
pallet-3vm-contracts                 = { default-features = false, path = "../../pallets/contracts", package = "pallet-contracts" }
pallet-3vm-contracts-primitives      = { default-features = false, path = "../../pallets/contracts/primitives", package = "pallet-contracts-primitives" }
pallet-3vm-contracts-rpc-runtime-api = { default-features = false, path = "../../pallets/contracts/rpc/runtime-api", package = "pallet-contracts-rpc-runtime-api" }
pallet-3vm-evm                       = { default-features = false, path = "../../pallets/evm", package = "pallet-evm" }
pallet-3vm-evm-primitives            = { default-features = false, path = "../../pallets/evm/primitives", package = "fp-evm" }
pallet-evm-rpc-runtime-api           = { default-features = false, path = "../../pallets/evm/rpc/runtime-api" }

# Commons
circuit-runtime-types = { path = "../common-types", default-features = false }

[features]
default = [ "std" ]
std = [
  "codec/std",
  "log/std",
  "scale-info/std",
  "serde/std",
  "cumulus-pallet-aura-ext/std",
  "cumulus-pallet-dmp-queue/std",
  "cumulus-pallet-parachain-system/std",
  "cumulus-pallet-xcm/std",
  "cumulus-pallet-xcmp-queue/std",
  "cumulus-primitives-core/std",
  "cumulus-primitives-timestamp/std",
  "cumulus-primitives-utility/std",
  "parachains-common/std",
  "frame-executive/std",
  "cumulus-pallet-session-benchmarking/std",
  "frame-support/std",
  "frame-system-rpc-runtime-api/std",
  "frame-system/std",
  "pallet-aura/std",
  "pallet-authorship/std",
  "pallet-assets/std",
  "pallet-asset-registry/std",
  "pallet-asset-tx-payment/std",
  "pallet-authorship/std",
  "pallet-grandpa-finality-verifier/std",
  "pallet-portal/std",
  "pallet-portal-rpc-runtime-api/std",
  "pallet-utility/std",
  "polkadot-runtime-constants/std",
  "pallet-balances/std",
  "pallet-collator-selection/std",
  "pallet-3vm/std",
  "pallet-3vm-contracts/std",
  "pallet-3vm-contracts-primitives/std",
  "pallet-3vm-contracts-rpc-runtime-api/std",
  "pallet-3vm-evm/std",
  "pallet-3vm-evm-primitives/std",
  "pallet-evm-rpc-runtime-api/std",
  "evm-precompile-util/std",
  "pallet-account-manager/std",
  "pallet-preimage/std",
  'pallet-scheduler/std',
  'pallet-membership/std',
  "pallet-session/std",
  "pallet-sudo/std",
  "pallet-clock/std",
  "pallet-identity/std",
  "pallet-xbi-portal/std",
  "pallet-timestamp/std",
  "pallet-transaction-payment-rpc-runtime-api/std",
  "pallet-transaction-payment/std",
  "pallet-xcm/std",
  "parachain-info/std",
  "polkadot-parachain/std",
  "polkadot-runtime-common/std",
  "smallvec/write",
  "sp-api/std",
  "sp-block-builder/std",
  "sp-consensus-aura/std",
  "sp-core/std",
  "sp-inherents/std",
  "sp-io/std",
  "sp-offchain/std",
  "sp-runtime/std",
  "sp-session/std",
  "sp-std/std",
  "sp-transaction-pool/std",
  "sp-version/std",
  "xcm-builder/std",
  "xcm-executor/std",
  "xcm/std",
  "finality-grandpa/std",
  # t3rn deps
  "pallet-randomness-collective-flip/std",
  "t3rn-primitives/std",
  "t3rn-types/std",
  "t3rn-abi/std",
  # t3rn pallets
  "pallet-xdns/std",
  "pallet-xdns-rpc-runtime-api/std",
  "pallet-treasury/std",
  "pallet-contracts-registry/std",
  "pallet-circuit/std",
  "circuit-runtime-types/std",
]

runtime-benchmarks = [
  "hex-literal",
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system-benchmarking",
  "frame-system/runtime-benchmarks",
  "pallet-account-manager/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "pallet-contracts-registry/runtime-benchmarks",
  "pallet-collator-selection/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
  "pallet-xcm/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "xcm-builder/runtime-benchmarks",
  "cumulus-pallet-session-benchmarking/runtime-benchmarks",
  "pallet-treasury/runtime-benchmarks",
  "pallet-3vm/runtime-benchmarks",
  "pallet-asset-registry/runtime-benchmarks",
  "pallet-assets/runtime-benchmarks",
  "pallet-circuit/runtime-benchmarks",
  "pallet-clock/runtime-benchmarks",
  "pallet-3vm-contracts/runtime-benchmarks",
  "pallet-3vm-evm/runtime-benchmarks",
  "pallet-identity/runtime-benchmarks",
  "pallet-membership/runtime-benchmarks",
  "pallet-preimage/runtime-benchmarks",
  "pallet-scheduler/runtime-benchmarks",
  "pallet-xbi-portal/runtime-benchmarks",
  "pallet-xdns/runtime-benchmarks",
  "polkadot-parachain/runtime-benchmarks",
  "polkadot-runtime-common/runtime-benchmarks",
  "xcm-executor/runtime-benchmarks",
  "cumulus-pallet-parachain-system/runtime-benchmarks",
  "cumulus-pallet-xcmp-queue/runtime-benchmarks",
  "pallet-grandpa-finality-verifier/runtime-benchmarks",
  "pallet-utility/runtime-benchmarks",
]
try-runtime = [
  "frame-executive/try-runtime",
  "frame-try-runtime",
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "pallet-3vm/try-runtime",
  "pallet-account-manager/try-runtime",
  "pallet-asset-registry/try-runtime",
  "pallet-asset-tx-payment/try-runtime",
  "pallet-assets/try-runtime",
  "pallet-aura/try-runtime",
  "pallet-authorship/try-runtime",
  "pallet-balances/try-runtime",
  "pallet-circuit/try-runtime",
  "pallet-clock/try-runtime",
  "pallet-collator-selection/try-runtime",
  "pallet-3vm-contracts/try-runtime",
  "pallet-contracts-registry/try-runtime",
  "pallet-identity/try-runtime",
  "pallet-membership/try-runtime",
  "pallet-preimage/try-runtime",
  "pallet-randomness-collective-flip/try-runtime",
  "pallet-scheduler/try-runtime",
  "pallet-session/try-runtime",
  "pallet-sudo/try-runtime",
  "pallet-timestamp/try-runtime",
  "pallet-transaction-payment/try-runtime",
  "pallet-treasury/try-runtime",
  "pallet-utility/try-runtime",
  "pallet-xdns/try-runtime",
  "polkadot-runtime-common/try-runtime",
  "t3rn-abi/try-runtime",
]
