[package]
authors     = { workspace = true }
description = "A crate that with t3rn ABI cross-codec, SCALE, RLP, and more"
edition     = { workspace = true }
homepage    = { workspace = true }
license     = { workspace = true }
name        = "t3rn-abi"
repository  = { workspace = true }
version     = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
bytes      = { workspace = true, optional = true }
codec      = { workspace = true, optional = true, package = "parity-scale-codec"}
num        = { workspace = true, optional = true }
num-traits = { workspace = true, optional = true }
scale-info = { workspace = true, optional = true }
serde      = { workspace = true, optional = true }

sp-core    = { workspace = true, optional = true }
sp-runtime = { workspace = true, optional = true }
sp-std     = { workspace = true, optional = true }

frame-support = { workspace = true, optional = true }
frame-system  = { workspace = true, optional = true }

rlp = { workspace = true, optional = true }

[dev-dependencies]
ethabi      = "18.0.0"
hex         = "0.4"
hex-literal = "0.4.1"
serde_json  = "1.0.41"
rlp-derive = "0.1.0"

# for mini-mock events
pallet-assets    = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = 'polkadot-v1.2.0' }
pallet-balances  = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = 'polkadot-v1.2.0' }
pallet-contracts = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = 'polkadot-v1.2.0' }
pallet-timestamp = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = 'polkadot-v1.2.0' }

circuit-runtime-types = { path = "../../runtime/common-types" }

[features]
default = [ "std" ]
runtime = [ "sp-std", "sp-runtime", "frame-system", "frame-support", "sp-core", "codec", "scale-info", "serde", "bytes", "num-traits", "rlp" ]
runtime-std = [
    "sp-std/std",
    "sp-runtime/std",
    "frame-system/std",
    "frame-support/std",
    "sp-core/std",
    "codec/std",
    "scale-info/std",
    "serde/std",
    "bytes/std",
    "num-traits/std",
    "rlp/std",
]
std = [
    "sp-std/std",
    "sp-runtime/std",
    "frame-system/std",
    "frame-support/std",
    "sp-core/std",
    "codec/std",
    "scale-info/std",
    "serde/std",
    "bytes/std",
    "num-traits/std",
    "rlp/std",
]
try-runtime = [ "frame-support/try-runtime", "frame-system/try-runtime" ]
