[package]
authors     = { workspace = true }
description = "Circuit parachain runtime"
edition     = { workspace = true }
homepage    = { workspace = true }
license     = { workspace = true }
name        = "circuit-runtime-types"
repository  = { workspace = true }
version     = { workspace = true }

[dependencies]
frame-support     = { workspace = true }
frame-system      = { workspace = true }
parachains-common = { workspace = true }
sp-core           = { workspace = true }
sp-runtime        = { workspace = true }
cumulus-primitives-core = { workspace = true }
xcm               = { workspace = true }

[features]
default = [ "std" ]
std     = [ "frame-system/std", "frame-support/std", "sp-runtime/std", "sp-core/std", "parachains-common/std", "cumulus-primitives-core/std", "xcm/std"]
