[package]
authors     = { workspace = true }
description = "The account manager for the t3rn platform"
edition     = { workspace = true }
homepage    = { workspace = true }
license     = { workspace = true }
name        = "pallet-account-manager"
readme      = { workspace = true }
repository  = { workspace = true }
version     = { workspace = true }

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[dependencies]
codec      = { workspace = true, package = "parity-scale-codec" }
log        = { workspace = true }
scale-info = { workspace = true }
serde      = { workspace = true, optional = true }

frame-benchmarking = { workspace = true, optional = true }
frame-metadata     = { workspace = true }
frame-support      = { workspace = true }
frame-system       = { workspace = true }

sp-io      = { workspace = true }
sp-runtime = { workspace = true }
sp-std     = { workspace = true }
sp-version = { workspace = true }
sp-core    = { workspace = true }

circuit-runtime-types = { path = "../../runtime/common-types", default-features = false }
t3rn-primitives       = { default-features = false, path = "../../primitives" }

[dev-dependencies]
sp-core     = { workspace = true }
sp-keystore = { workspace = true }

circuit-mock-runtime    = { path = "../../runtime/mock" }
circuit-runtime-pallets = { path = "../../runtime/common-pallets" }

[features]
default = [ "std" ]
runtime-benchmarks = [ "frame-benchmarking/runtime-benchmarks", "frame-support/runtime-benchmarks", "frame-system/runtime-benchmarks", "sp-runtime/runtime-benchmarks" ]
std = [
  "codec/std",
  "frame-support/std",
  "frame-metadata/std",
  "frame-system/std",
  "log/std",
  "scale-info/std",
  "serde/std",
  "sp-io/std",
  "sp-version/std",
  "sp-runtime/std",
  "sp-core/std",
  "sp-std/std",
  "t3rn-primitives/std",
  "circuit-runtime-types/std",
]
try-runtime = [ "frame-support/try-runtime", "frame-system/try-runtime", "sp-runtime/try-runtime" ]
