[package]
name = "pallet-3vm-account-mapping"
version = "1.0.0-dev"
license = "Apache-2.0"
description = "Package to hande EVM-to-Substrate and Substrate-to-EVM address conversion"
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }

[dependencies]
serde = { workspace = true, optional = true }
scale-codec = { package = "parity-scale-codec", workspace = true, default-features = false }
libsecp256k1 = { workspace = true, default-features = false }
scale-info = { workspace = true, default-features = false }

sp-core = { workspace = true, default-features = false }
sp-io = { workspace = true, default-features = false }
sp-runtime = { workspace = true, default-features = false }
sp-std = { workspace = true, default-features = false }
frame-support = { workspace = true, default-features = false }
frame-system = { workspace = true, default-features = false }
frame-benchmarking = { workspace = true, optional = true }
hex                     = { workspace = true }

# t3rn packages
pallet-3vm-evm                  = { default-features = false, path = "../../../pallets/evm", package = "pallet-evm" }
t3rn-primitives                 = { default-features = false, path = "../../../primitives" }
circuit-runtime-types           = { default-features = false, path = "../../../runtime/common-types" }

[dev-dependencies]
circuit-mock-runtime    = { path = "../../../runtime/mock" }
circuit-runtime-pallets = { path = "../../../runtime/common-pallets" }
hex-literal             = { workspace = true }
pallet-balances         = { workspace = true }

[features]
default = ["std"]
std = [
    "serde",
    "scale-codec/std",
    "hex/std",
    "libsecp256k1/std",
    "scale-info/std",
    "sp-core/std",
    "sp-runtime/std",
    "sp-io/std",
    "sp-std/std",
    "frame-support/std",
    "frame-system/std",
    # t3rn
    "circuit-runtime-types/std",
    "circuit-runtime-pallets/std",
    "t3rn-primitives/std",
    "pallet-3vm-evm/std",
]
runtime-benchmarks = [
    "frame-benchmarking",
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
]
try-runtime = [ "frame-support/try-runtime", "frame-system/try-runtime", "sp-runtime/try-runtime", "pallet-3vm-evm/try-runtime" ]
