[package]
authors     = { workspace = true }
description = "t3rn portal RPC Runtime API"
edition     = { workspace = true }
homepage    = { workspace = true }
license     = { workspace = true }
name        = "pallet-portal-rpc-runtime-api"
readme      = "../README.md"
repository  = { workspace = true }
version     = { workspace = true }

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[dependencies]
codec      = { workspace = true, package = "parity-scale-codec" }

sp-api     = { workspace = true }
sp-std     = { workspace = true }
sp-runtime = { workspace = true }

pallet-portal   = { path = "../..", default-features = false }
t3rn-primitives = { default-features = false, path = "../../../../primitives" }
t3rn-types      = { default-features = false, path = "../../../../types" }

[features]
default = [ "std" ]
std     = [ "codec/std", "sp-api/std", "sp-std/std", "sp-runtime/std", "pallet-portal/std" ]
