[package]
authors     = [ "t3rn ltd. <team@t3rn.io>" ]
description = "on-chain composable contracts registry"
edition     = "2018"
homepage    = "https://t3rn.io"
license     = "Apache 2.0"
name        = "pallet-contracts-registry"
readme      = "README.md"
repository  = "https://github.com/t3rn/t3rn/"
version     = "1.0.0-alpha.0"

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[dependencies]
codec              = { package = "parity-scale-codec", version = "2.2", default-features = false }
frame-benchmarking = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.17', optional = true }
frame-support      = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.17' }
frame-system       = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.17' }
log                = { version = "0.4.14", default-features = false }
pallet-timestamp   = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.17' }
scale-info         = { version = "1.0", default-features = false, features = [ "derive" ] }
serde              = { version = "1.0", optional = true, features = [ "derive" ] }
sp-io              = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.17' }
sp-runtime         = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.17' }
sp-std             = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.17' }

t3rn-primitives = { default-features = false, path = "../../primitives" }

[dev-dependencies]
sp-core         = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.17' }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.17' }
pallet-sudo     = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.17' }

[features]
default = [ "std" ]
runtime-benchmarks = [ "frame-benchmarking" ]
std = [
  "codec/std",
  "frame-benchmarking/std",
  "frame-support/std",
  "frame-system/std",
  "log/std",
  "pallet-timestamp/std",
  "serde/std",
  "sp-io/std",
  "sp-runtime/std",
  "sp-std/std",
  "t3rn-primitives/std",
  "scale-info/std",
]
try-runtime = [ "frame-support/try-runtime" ]
