[package]
authors     = { workspace = true }
description = "circuit implements fail-safe interoperable execution based on open-market mechanics and trust-free remote chain inclusion proofs"
edition     = { workspace = true }
homepage    = { workspace = true }
license     = { workspace = true }
name        = "pallet-circuit"
readme      = { workspace = true }
repository  = { workspace = true }
version     = { workspace = true }

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[dependencies]
codec            = { workspace = true, package = "parity-scale-codec" }
log              = { workspace = true }
pallet-timestamp = { workspace = true }
scale-info       = { workspace = true }
serde            = { workspace = true, optional = true, features = [ "derive" ] }
num-traits       = { workspace = true }

frame-benchmarking = { workspace = true, optional = true }
frame-support      = { workspace = true }
frame-system       = { workspace = true }
sp-core            = { workspace = true }
sp-io              = { workspace = true }
sp-runtime         = { workspace = true }
sp-std             = { workspace = true }
sp-trie            = { workspace = true }

t3rn-abi            = { default-features = false, path = "../../types/abi", features = [ "runtime" ] }
t3rn-primitives     = { default-features = false, path = "../../primitives" }
t3rn-sdk-primitives = { workspace = true }
t3rn-types          = { default-features = false, path = "../../types", features = [ "runtime" ] }

[dev-dependencies]
hex                             = { workspace = true }
hex-literal                     = { workspace = true }
serde_json                      = { workspace = true }

# Needed because of testing features
pallet-grandpa-finality-verifier = { path = "../../finality-verifiers/grandpa", features = [ "testing" ] }

circuit-mock-runtime    = { path = "../../runtime/mock" }
circuit-runtime-pallets = { path = "../../runtime/common-pallets" }
circuit-runtime-types   = { path = "../../runtime/common-types" }

[features]
default = [ "std" ]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
std = [
  "codec/std",
  "frame-benchmarking/std",
  "frame-support/std",
  "frame-system/std",
  "log/std",
  "num-traits/std",
  "pallet-timestamp/std",
  "scale-info/std",
  "serde/std",
  "sp-core/std",
  "sp-io/std",
  "sp-trie/std",
  "sp-runtime/std",
  "sp-std/std",
  "t3rn-primitives/std",
  "t3rn-types/std",
  "t3rn-abi/std",
  "t3rn-sdk-primitives/std",
]
try-runtime = [ "frame-support/try-runtime", "frame-system/try-runtime", "pallet-timestamp/try-runtime", "t3rn-abi/try-runtime", "sp-runtime/try-runtime" ]
test-skip-verification = [  ]
