# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
websocketEndpoint: "wss://ws.t0rn.io"

securityContext: 
  capabilities:
    drop:
    - ALL
  # Node requires writing :|
  # readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
  fsGroup: 1000


resources: 
  limits:
    cpu: 1000m
    memory: 1024Mi
  requests:
    cpu: 10m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
