.toast {
  background-color: theme("colors.toast") !important;
  color: theme("colors.gray.400");
  border: 1px solid theme("colors.gray.600");
  box-shadow: theme("boxShadow.t3rn");
  backdrop-filter: blur(10px);
  border-radius: 12px;

  & div:first-child {
    opacity: 0.8;
  }
}
