[package]
authors     = [ "Parity Technologies <admin@parity.io>", "t3rn ltd. <team@t3rn.io>" ]
description = "FRAME pallet for WASM contracts"
edition     = { workspace = true }
homepage    = { workspace = true }
license     = { workspace = true }
name        = "pallet-contracts"
readme      = { workspace = true }
repository  = { workspace = true }
version     = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
bitflags = "1.0"
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
codec = { package = "parity-scale-codec", version = "3.2.2", default-features = false, features = ["derive"] }

log = { version = "0.4", default-features = false }
serde = { version = "1", optional = true, features = ["derive"] }
smallvec = { version = "1", default-features = false, features = [
  "const_generics",
] }
wasmi = { version = "0.30", default-features = false }
impl-trait-for-tuples = "0.2"

# Only used in benchmarking to generate contract code
wasm-instrument = { version = "0.4", optional = true, default-features = false }
rand = { version = "0.8", optional = true, default-features = false }
rand_pcg = { version = "0.3", optional = true }

# Substrate Dependencies
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true  }
frame-system = { workspace = true }
pallet-contracts-primitives = { path = "primitives", default-features = false }
pallet-contracts-proc-macro = { path = "proc-macro", default-features = false }

sp-api = { workspace = true}
sp-core = { workspace = true}
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
environmental = { version = "1.1.4", default-features = false }

## extras from t3rn
t3rn-primitives     = { default-features = false, path = "../../primitives" }
t3rn-sdk-primitives = { workspace = true }

[dev-dependencies]
array-bytes = "6.1"
assert_matches = "1"
env_logger = "0.9"
pretty_assertions = "1"
wat = "1"

# Substrate Dependencies
pallet-balances = { workspace = true, features = ["std"] }
pallet-timestamp = { workspace = true }
pallet-insecure-randomness-collective-flip = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = 'polkadot-v1.2.0', default-features = false, package = "pallet-insecure-randomness-collective-flip" }
pallet-utility = { workspace = true }
pallet-proxy = { workspace = true, features = ["std"] }
sp-keystore = { workspace = true }

[features]
default = ["std"]
std = [
  "serde",
  "codec/std",
  "scale-info/std",
  "sp-core/std",
  "sp-runtime/std",
  "sp-io/std",
  "sp-std/std",
  "sp-api/std",
  "frame-benchmarking?/std",
  "frame-support/std",
  "frame-system/std",
  "wasm-instrument/std",
  "wasmi/std",
  "pallet-contracts-primitives/std",
  "pallet-contracts-proc-macro/full",
  "log/std",
  "rand/std",
  "t3rn-primitives/std",
  "t3rn-sdk-primitives/std",
  "environmental/std",
]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "wasm-instrument",
  "rand",
  "rand_pcg",
]
try-runtime = ["frame-support/try-runtime", "sp-runtime/try-runtime", "frame-system/try-runtime"]
unstable-interface = [  ]
