[package]
edition = { workspace = true }
license = { workspace = true }
name    = "pallet-evm-precompile-3vm-dispatch"
version = { workspace = true }

[dependencies]
frame-support = { workspace = true }

fp-evm     = { path = "../../primitives", default-features = false }
pallet-evm = { path = "../..", default-features = false }

t3rn-primitives = { default-features = false, path = "../../../../primitives" }

[features]
default = [ "std" ]
std     = [ "frame-support/std", "fp-evm/std", "pallet-evm/std", "t3rn-primitives/std" ]
