[package]
authors    = { workspace = true }
edition    = { workspace = true }
homepage   = { workspace = true }
license    = { workspace = true }
name       = "pallet-portal"
readme     = { workspace = true }
repository = { workspace = true }
version    = { workspace = true }

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[dependencies]
codec      = { workspace = true, package = "parity-scale-codec" }
hash-db    = { version = "0.15.2", default-features = false }
log        = { workspace = true }
scale-info = { workspace = true }

frame-support = { workspace = true }
frame-system  = { workspace = true }

sp-std = { workspace = true }

pallet-grandpa-finality-verifier = { path = "../../finality-verifiers/grandpa", default-features = false }

t3rn-abi        = { default-features = false, path = "../../types/abi", features = [ "runtime" ] }
t3rn-primitives = { default-features = false, path = "../../primitives" }
t3rn-types      = { default-features = false, path = "../../types", features = [ "runtime" ] }

[dev-dependencies]
hex              = "0.4.2"
hex-literal      = "0.2.1"
pallet-balances  = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = "polkadot-v1.2.0" }
pallet-sudo      = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = "polkadot-v1.2.0" }
pallet-timestamp = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = "polkadot-v1.2.0" }
pallet-xdns      = { path = "../../pallets/xdns" }
serde_json       = "1.0.41"
sp-core          = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = "polkadot-v1.2.0" }
sp-io            = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = "polkadot-v1.2.0" }
sp-runtime       = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = "polkadot-v1.2.0" }
sp-version       = { git = "https://github.com/paritytech/polkadot-sdk.git", tag = "polkadot-v1.2.0" }

pallet-eth2-finality-verifier    = { git = "https://github.com/t3rn/eth2-light-client", tag = "eth-v1.1.1", features = [ "testing" ] }

circuit-mock-runtime    = { path = "../../runtime/mock" }
circuit-runtime-pallets = { path = "../../runtime/common-pallets" }
circuit-runtime-types   = { path = "../../runtime/common-types" }

[features]
default = [ "std" ]
std = [
  "log/std",
  "codec/std",
  "scale-info/std",
  "hash-db/std",
  "t3rn-primitives/std",
  "t3rn-types/std",
  "t3rn-abi/std",
  "pallet-grandpa-finality-verifier/std",
  "frame-support/std",
  "frame-system/std",
  "sp-std/std",
]
testing = [ "pallet-grandpa-finality-verifier/testing" ]
