[package]
authors    = [ "devs @ t3rn" ]
edition    = "2018"
homepage   = "https://t3rn.io"
license    = "Apache 2.0"
name       = "pallet-portal"
readme     = "README.md"
repository = 'https://github.com/t3rn/t3rn'
version    = "1.0.0-alpha.0"

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[dependencies]
codec        = { package = "parity-scale-codec", version = "3", default-features = false }
hash-db      = { version = "0.15.2", default-features = false }
#hex          = { version = "0.4.3", default-features = false }
#hex-literal  = { version = '0.3.1' }
#log          = { version = "0.4.14", default-features = false }
#plain_hasher = { version = "0.2.2", default-features = false }
scale-info   = { version = "2", default-features = false, features = [ "derive" ] }
#serde        = { version = "1.0", features = [ "derive" ], default-features = false, optional = true }
#triehash     = { version = "0.8.2", default-features = false }
#
#frame-metadata = { version = "14.0.0", features = [ "v13", "v14" ], default-features = false }
frame-support  = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19' }
frame-system   = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19' }
#
#sp-application-crypto = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19' }
#sp-core               = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19' }
#sp-io                 = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19' }
#sp-keystore           = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19', optional = true }
#sp-runtime            = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19' }
sp-std                = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19' }
#sp-trie               = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19' }
#sp-version            = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19' }

#pallet-multi-finality-verifier = { default-features = false, path = "../multi-finality-verifier" }
#pallet-timestamp               = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.19', default-features = false }
#
t3rn-primitives = { version = "1.0.0-alpha.0", default-features = false, path = "../../primitives" }
#grandpa-finality-verifier = { version = "1.0.0-alpha.0", default-features = false, path = "../../finality-verifiers/grandpa" }
#t3rn-protocol   = { path = "../../protocol", version = "1.0.0-alpha.1", default-features = false }
#
## Smart contracts VMs
#ethabi-decode = { git = "https://github.com/Snowfork/ethabi-decode.git", branch = "master", default-features = false }
#
## for tests only
#snowbridge-core     = { path = "../../primitives/src/bridges/snowfork/core", default-features = false }
#snowbridge-ethereum = { path = "../../primitives/src/bridges/snowfork/ethereum", default-features = false }
#sp-finality-grandpa = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19' }
#sp-staking          = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = 'polkadot-v0.9.19' }
##snowbridge-basic-channel = {  path = "../../primitives/src/bridges/snowfork/core", default-features = false }
#
## Benchmarking
#frame-benchmarking = { default-features = false, git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.19', optional = true }

#[dev-dependencies]
#assert_matches    = "1"
#hex-literal       = "0.3"
#paste             = "1"
#pretty_assertions = "0.7"
#sc-service        = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.19' }
#serde_json        = "1.0.41"
#wat               = "1"
#
#pallet-balances = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.19' }
#pallet-sudo     = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.19' }
#pallet-xdns     = { path = "../../pallets/xdns" }

[features]
default = [ "std" ]
std = [
  "codec/std",
  "scale-info/std",
#  "serde/std",
#  "log/std",
  "hash-db/std",
#  "triehash/std",
#  "plain_hasher/std",
  "t3rn-primitives/std",
#  "t3rn-protocol/std",
#  "frame-benchmarking/std",
  "frame-support/std",
  "frame-system/std",
#  "frame-metadata/std",
#  "pallet-multi-finality-verifier/std",
#  "sp-keystore/std",
#  "sp-core/std",
#  "sp-io/std",
#  "sp-runtime/std",
  "sp-std/std",
#  "sp-trie/std",
#  "sp-version/std",
#  "sp-application-crypto/std",
#  # native contracts VMs
#  "ethabi-decode/std",
#  # for tests only
#  "sp-staking/std",
#  "sp-finality-grandpa/std",
#  "hex/std",
#  #    "snowbridge-basic-channel/std",
#  "snowbridge-core/std",
#  "snowbridge-ethereum/std",
]

#runtime-benchmarks = [ "frame-benchmarking" ]
## need to add this for the app_crypto macro
#full_crypto = [  ]
#
#try-runtime = [ "frame-support/try-runtime" ]
