[package]
authors    = [ "devs @ t3rn" ]
edition    = "2018"
homepage   = "https://t3rn.io"
license    = "Apache 2.0"
name       = "pallet-portal"
readme     = "README.md"
repository = 'https://github.com/t3rn/t3rn'
version    = "1.0.0-alpha.0"

[package.metadata.docs.rs]
targets = [ "x86_64-unknown-linux-gnu" ]

[dependencies]
codec      = { package = "parity-scale-codec", version = "3", default-features = false }
hash-db    = { version = "0.16.0", default-features = false }
log        = { version = "0.4", default-features = false }
scale-info = { version = "2.1.1", features = [ "derive" ], default-features = false }

frame-support = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27', default-features = false }
frame-system  = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27', default-features = false }

sp-std = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27', default-features = false }

pallet-grandpa-finality-verifier = { path = "../../finality-verifiers/grandpa", default-features = false }

t3rn-primitives = { default-features = false, path = "../../primitives" }
t3rn-types = { default-features = false, path = "../../types", features = [ "runtime" ] }
t3rn-abi = { default-features = false, path = "../../types/abi", features = [ "runtime" ] }

[dev-dependencies]
hex              = "0.4.2"
hex-literal      = "0.2.1"
pallet-balances  = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
pallet-sudo      = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
pallet-xdns      = { path = "../../pallets/xdns" }
serde_json       = "1.0.41"
sp-core          = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-io            = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-runtime       = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
sp-version       = { git = "https://github.com/paritytech/substrate", branch = 'polkadot-v0.9.27' }
circuit-test-utils = { path = "../../test-utils" }

pallet-grandpa-finality-verifier = { path = "../../finality-verifiers/grandpa", features = [ "testing" ] }

circuit-mock-runtime    = { path = "../../runtime/mock" }
circuit-runtime-pallets = { path = "../../runtime/common-pallets" }
circuit-runtime-types   = { path = "../../runtime/common-types" }

[features]
default = [ "std" ]
std = [
  "log/std",
  "codec/std",
  "scale-info/std",
  "hash-db/std",
  "t3rn-primitives/std",
  "t3rn-types/std",
  "t3rn-abi/std",
  "pallet-grandpa-finality-verifier/std",
  "frame-support/std",
  "frame-system/std",
  "sp-std/std",
]
testing = [ "pallet-grandpa-finality-verifier/testing" ]
