name: Changelog

on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+"

jobs:
  create-changelog:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          git_user_signingkey: true
          git_commit_gpgsign: true
          gpg_private_key: ${{ secrets.T3RN_CI_GPG_PRIVATE_KEY }}

      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ secrets.GH_PAT }}
          tag: ${{ github.ref_name }}

      - name: Update Release with Changelog
        id: release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: false
          body: ${{ steps.changelog.outputs.changes }}
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}

      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: development
          commit_message: "build(release): update CHANGELOG.md for ${{ github.ref_name }} [skip ci]"
          file_pattern: CHANGELOG.md
          commit_user_name: t3rn-ci
          commit_user_email: 89840377+t3rn-ci@users.noreply.github.com
