name: Deploy Main docs
on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development
jobs:
  deploy:
    runs-on: ["self-hosted", "rust"]
    timeout-minutes: 15
    if: "!contains(github.event.head_commit.message, 'skip cd')"
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: docs/main
      - name: Deploy Main docs to Vercel
        uses: amondnet/vercel-action@v25
        with:
          working-directory: docs/main
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-args: "--prod --force"
          vercel-org-id: ${{ secrets.VERCEL_TEAM_ID }}
          vercel-project-id: ${{ secrets.VERCEL_MAIN_DOCS_PROJECT_ID }}
          scope: "t3rn"
          github-comment: false
          alias-domains: |
            docs.t3rn.io
