name: Executor

on:
  pull_request:
  push:
    branches:
      - development
  merge_group:

permissions:
  contents: read
  pull-requests: write

jobs:
  # This job checks if files has been modified.
  # Using paths in pull request trigger would make this action unpassable for PRs without changes - due to required checks.
  changes:
    runs-on: [self-hosted]
    outputs:
      src: ${{ steps.changes.outputs.src }}

    steps:
      - name: ☁ Checkout git repo
        uses: actions/checkout@v3

      - uses: dorny/paths-filter@v2
        id: changes
        with:
          # TODO: can be removed when we have npm packages
          # - "client/packages/**/*.ts"

          filters: |
            src:
            - "client/executor.Dockerfile"
            - "client/packages/**/*.ts"
            - "client/packages/executor/**/*.ts"
            - "client/packages/executor/**/*.json"
            - ".github/workflows/executor.yml"

      - name: Detected changes
        run: |
          echo Detected changes: "${{ steps.changes.outputs.src }}"

  test-executor:
    name: Test Executor
    needs: [changes]
    if: needs.changes.outputs.src == 'true'
    defaults:
      run:
        working-directory: client/packages/executor

    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Read .nvmrc
        run: echo NVMRC=`cat .nvmrc` >> $GITHUB_ENV

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NVMRC }}

      - run: cd .. && make all
      - run: yarn
      - run: yarn ci
      - run: yarn fmt
      - run: yarn build-docs

      - name: Save Code Linting Report JSON
        run: npm run lint:report
        # Continue to the next step even if this fails
        continue-on-error: true

      - name: Annotate Code Linting Results
        uses: ataylorme/eslint-annotate-action@v2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          report-json: "eslint_report.json"

      - run: yarn test

  build-docker:
    name: Build Docker Executor
    needs: [changes]
    if: needs.changes.outputs.src == 'true'

    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker
        working-directory: ./client
        run: |
          docker build . -f executor.Dockerfile

  deploy:
    name: Deploy Executor
    runs-on: self-hosted
    needs: test-executor
    if: github.ref == 'refs/heads/development'
    steps:
      - name: ☁ Checkout git repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
  
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
  
      - name: Build executor
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: test-t0rn-executor
          IMAGE_TAG: ${{ github.sha }}
        working-directory: ./client
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG . -f executor.Dockerfile
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      - name: EKS
        run: aws eks --region ${{ secrets.AWS_DEFAULT_REGION }} update-kubeconfig --name ${{ secrets.AWS_EKS_CLUSTER }}

      - name: Helm Upgrade
        working-directory: ./client/packages/executor
        run: helm upgrade executor helm -n executor -f helm/values.yaml --set tag=${{ github.sha }},repository="${{ steps.login-ecr.outputs.registry }}/test-t0rn-executor"
