name: Test

on:
  pull_request:
  merge_group:

env:
  PARACHAIN_NAME: t0rn

jobs:
  cargo-release-dry-run:
    name: Cargo Release Dry Run
    runs-on: [self-hosted]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}


      - name: Calculate semantic version
        id: version
        uses: t3rn/semantic-version@v6.0.3
        with:
          tag_prefix: "v"
          major_pattern: "/^(feat|refactor)(\\([a-z]+\\))?!:/"
          minor_pattern: "/^(feat|refactor)(\\([a-z]+\\))?:/"
          version_format: "${major}.${minor}.${patch}-rc.${increment}"
          bump_each_commit: false
          search_commit_body: false
          user_format_type: "json"
          prerelease_name: "rc"

      - name: Cargo Release Dry Run
        run: |
          cargo release -c release.toml -p ${{ env.PARACHAIN_NAME }}-parachain-runtime -p ${{ env.PARACHAIN_NAME }}-parachain-collator ${{ steps.version.outputs.version }} --no-push
